body{
  text-align: center;
  font-family: Helvetica;
}
.header {
  background-image: url("../media/the-flatiron-building.png");
  color: white;

}
.pbreak{
  background-image: url("../media/the-flatiron-building.png");
  color: white;

}
.footer{
  color: white;
  background-color: dimgray;
  text-align: left;

}
.header a{
  font-size: 18px;
  color: white;

}
.footer a{
  color: white;
  font-size: 18px;

}
.footer p{
  font-size: 11px;

}
h1{
  font-size: 70px;
  font-weight: bold;

}
h2{
  font-size: 32px;
  font-weight: bold;

}
h3{
  font-size: 23px;
  font-weight: bold;

}
p{
  font-size: 14px;

}
#portfolio{

}
#team{

}
#contact{

}
