body{
  text-align: center;
  font-family: Helvetica;
}
.header {
  background-image: url("../media/the-flatiron-building.png");
}
.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;

}

.place{1

}
